html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.chat-window .chat-heading {
  /* text-align: center; */
  /* height:50px; */
  padding:20px 20px;
  border-radius:10px 10px 0 0;
  background-color: #427fe1;
  color:#fff;
  font-size:0.8em;
}

h1{
  display: inline-block;
  font-weight: 400;
  font-size: 2em;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;
}

.chat-window {
  width: 400px;
  margin: auto;
  /* border: 1px solid #d5d5d5; */
  border-radius:10px;
  box-shadow: 0px 0px 26px -13px rgba(84,84,84,1);
}

.conversation-view {
  width: 100%;
  min-height: 450px;
  padding: 20px 20px;
  background: url(./h.jpg);
  height:500px;
  /* overflow-y:auto; */
  /* background: linear-gradient(-45deg, #313131, #5c5c5c, #d8d8d8, #9d9e9e);
	background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; */
}

.message-box {
  width: 100%;
  padding: 20px 20px;
}

.text-input {
  width: 100%;
  border: none;
  padding: 5px;
}

.chat-bubble {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  overflow-y:scroll;
}

.chat-bubble.ai {
  justify-content: flex-end;
}


.chat-bubble.ai .chat-content {
  background-color: #ffffff;
  color:#333;
  border-radius:20px 20px 3px 20px;
}

.chat-content {
  transition: 0.2s;
  display: inline-block;
  min-height: 35px;
  max-width:300px;
  padding: 8px 15px;
  background-color: #427fe1;
  color: white;
  border-radius:20px 20px 20px 3px;
  font-size:1rem;
  font-weight: 600 !important;
}

.chat-content:hover{
  /* -webkit-animation-name: rubberBand;
  animation-name: rubberBand; */
  transition: 0.2s;
  transform: scale(0.97, 0.97);

}
.mail-box{
  /* background-color: #b6b6b6; */
  color:#fff !important;
  float: right;
  width: 25px;
  margin-left: 20px;
}
.mailId-box{
  color:#fff !important;
  float: right;
  width: 25px;
  margin-left: 20px;
}
.mailId-box:hover{
  transition: 0.2s;
  transform: scale3d(1.2, 1.2, 1.2);
}
.mail-box:hover{
  transition: 0.3s;
  width:30px;
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 45deg);
}

input[placeholder]{
  color: rgb(53, 53, 53);
  position: relative;
  font-family: sans-serif;
  /* text-transform: uppercase; */
  font-size: 1rem;
  /* letter-spacing: 4px; */
  overflow: hidden;

}

.css-input {
  padding: 10px;
  font-size: 1.1em;
  width:100%;
  height:50px;
  border-width: 0px;
  border-color: #6c43a7;
  background-color: #f5f5f5;
  color: #464646;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 3px rgba(158,158,158,.71);
  text-shadow: 0px 0px 0px rgba(66,66,66,.0);
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(207, 207, 207), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s cubic-bezier(0.54, 0.01, 0.52, 0.99) infinite;

}

.css-input:focus {
  transition: 0.3s;
  outline: none;
  box-shadow:inset 0px 0px 8px #b6b6b6;

}

.css-input:focus ~ label,
.css-input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #fff;
}

.css-input:focus ~ .bar:before {
  width: 90%;
}

/* scroll  */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}

/* animate text box  */
.animate-chat{
  -webkit-animation-name: login-wobble-horizontal;
  animation-name: login-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

/* Wobble Horizontal */
@-webkit-keyframes login-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*Key Frames*/

@keyframes msg1 {
  0% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: -4em;
    transform: scale(0);
  }
  5% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: 0;
    transform: scale(1);
  }
  12% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
  }
  17% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* loading animator */

.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.ticontainer .tidot {
  background-color: #90949c;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation{
  0%{
    -webkit-transform:translateY(0px)
  }
  28%{
    -webkit-transform:translateY(-5px)
  }
  44%{
    -webkit-transform:translateY(0px)
  }
}

.tidot:nth-child(1){
  -webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
  -webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
  -webkit-animation-delay:400ms;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* cards  */

.card-container {
  display:inline-block;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow:auto;
  /* height:300px; */
  /* justify-content: space-around; */
}

.card {
  padding: 20px;
  margin: 10px 10px;
  min-width: 350px;
  max-width: 410px;
  height: 100%;
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  user-select: none;
  text-decoration: none;
  color: #333;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

/* .card:hover {
  background-color: rgb(219, 219, 219);
  transition: 0.3s;
} */

.room-detail{
  display: inline-flex;
  font-size: 14px;
  line-height: 1.6;
  min-width: 170px;
  max-width: 170px;
  flex-wrap: wrap;
  overflow: auto;
}
.room-response{
  display: inline;
  margin-left: 5px;
}

.card:hover {
  transform: scale(0.97, 0.97);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* .card {
  color: #fff;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
} */
.modal-window {
  visibility: visible;
  pointer-events: auto;
  position: fixed;
  background-color: rgba(54, 54, 54, 0.25);
  color:#333;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
}
.modal-window-div {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: #ffffff;
}
.modal-window {

}
header {
  font-weight: bold;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  /* position: absolute; */
  right: 0;
  text-align: center;
  top: -12px;
  width: 50px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
.interior{
  display: inline-block;
  float: right;
}



:root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
}

a {
  color: inherit;
  padding-right:15px;
}
a:hover {
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  margin:5px 5px 0 0;
}
.btn--primary {
  background:#427fe1;
  color:#fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--danger {
  background:#d9534f;
  color:#fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}
.btn--primary:hover {
  background: #366fcc;
  color:#fff;
}
.btn--danger:hover{
  background: #af3935;
  color:#fff;
}
.btn:active {
  background:#366fcc;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}
.close-icon{
  width:20px;
  float: right;
}
